.json_viewer {
  width: 100%;
  background: var(--code_background);
  padding: 29px;
  overflow-x: auto;
  height: 100%;
  color: #8086fa;
  margin: 0;
}
button {
  position: fixed;
  bottom: 20px;
  right: 94px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 0px;
  background: #8086fa;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 32px;
  }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}
