.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

button {
  position: fixed;
  bottom: 20px;
  right: 17px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 0px;
  background: #8086fa;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  z-index: 2;
  span {
    font-size: 38px;
  }
}


button:hover {
  background: #444676;
  transition: all .5s;
}

