<!-- <router-outlet></router-outlet> -->
<div class="editor_container">
  <div class="header_cont">
    <h1>Richtext to <br />Json converter.</h1>
    <p>
      Rich Text to JSON converter automates the conversion of rich text content, including formatting and multimedia elements, into a structured JSON format. It simplifies content management by organizing attributes systematically, ensuring fidelity during integration into various software applications. The converter streamlines processes, offering developers efficient handling of rich text data.
    </p>
  </div>
  <div class="editor_container_inner">
    <div class="editor_cont">
      <app-basic-editor
        (generatedJsonDataFromEditor)="pushData($event)"
      ></app-basic-editor>
    </div>
    <div class="json_cont">
      <app-json-viewer [dataPassFromHolder]="dataHolder"></app-json-viewer>
    </div>
  </div>
</div>
