.editor_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.editor_container h1 {
  width: calc(30% - 25px);
  font-size: 30px;
  font-weight: 800;
  text-align: right;
}
p{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 23px;
  font-size: 14px;
}
.editor_container_inner {
  width: 100%;
  display: flex;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.editor_cont {
  width: 82%;
  background: var(--white_background);
  padding: 20px;
  min-height: calc( 100vh - 100px);
  padding-left: 65px;
}

.json_cont {
  width: 60%;
  background: var(--code_background);
  overflow-x: auto;
}

.header_cont {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  max-width: 1000px;
}


@media only screen and (max-width: 999px) and (min-width: 300px) {
  .header_cont {
    flex-wrap: wrap;
    gap: 0px;
  }
	.editor_container {
    h1 {
      width: 100%;
      text-align: center;
      font-size: 21px;
      font-weight: 900;
    }
    p {
      width: 100%;
      font-size: 14px;
      text-align: center;
      line-height: 21px;
    }
  }
  .editor_container_inner {
    flex-wrap: wrap;
    .editor_cont {
      width: 100%;
      min-height: 30dvh;
      padding-left: 20px;
    }
    .json_cont {
      width: 100%;
    }
  }


}
