<!-- <router-outlet></router-outlet> -->
<div class="editor_container">
  <div class="header_cont">
    <h1>
      Richtext to <br/>Json converter.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, harum architecto delectus, est odit recusandae magnam quod assumenda eum ut perferendis ad ex blanditiis vitae eveniet aliquid cum culpa maiores?
    </p>
  </div>
  <div class="editor_container_inner">
    <div class="editor_cont">
      <app-basic-editor (generatedJsonDataFromEditor)="pushData($event)"></app-basic-editor>
    </div>
    <div class="json_cont">
      <app-json-viewer [dataPassFromHolder]="dataHolder"></app-json-viewer>
    </div>

  </div>
</div>
